{{ form_start(form) }}

<div class="bg-white p-8 rounded-lg shadow-md">

    <div class="mb-4 mx-32">
        {{ form_label(form.email, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.email, { 'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} }) }}
        {{ form_errors(form.email, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4 mx-32">
        {{ form_label(form.roles, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.roles, { 'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} }) }}
        {{ form_errors(form.roles, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4 mx-32">
        {{ form_label(form.password, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.password, { 'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} }) }}
        {{ form_errors(form.password, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4 mx-32">
        {{ form_label(form.name, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.name, { 'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} }) }}
        {{ form_errors(form.name, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="mb-4 mx-32">
        {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(form.phoneNumber, { 'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} }) }}
        {{ form_errors(form.phoneNumber, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        {{ button_label|default('Save') }}
    </button>

</div>

{{ form_end(form) }}
