{% extends 'base.html.twig' %}

{% block title %}{User}{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4">{{user.name}}</h1>

    <table class="table-auto w-full mb-4">
        <tbody>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Id</th>
                <td class="px-4 py-2">{{ user.id }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Email</th>
                <td class="px-4 py-2">{{ user.email }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Roles</th>
                <td class="px-4 py-2">{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Nom</th>
                <td class="px-4 py-2">{{ user.name }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">N°tél</th>
                <td class="px-4 py-2">{{ user.phoneNumber }}</td>
            </tr>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Password</th>
                <td class="px-4 py-2">{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <div class="flex space-x-4">
        <a href="{{ path('app_user_index') }}" class="text-blue-500 hover:underline">Retour</a>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-blue-500 hover:underline">Modifier</a>
    </div>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
